body {
    font-family: Arial, sans-serif;
    background-color: #002f46;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.password-box {
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #00c8c8;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007f7f;
}
